{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
<link rel="stylesheet" href="{% static 'goods/goods_list.css' %}">
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
{% for goods,img in goodss.items %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
      <a href="{% url 'goods_detail' goods.pk %}"><img src="{{ img.url }}" alt="no picture" style="max-height: 255px"></a>
        <div class="caption">
            <a href="{% url 'goods_detail' goods.pk %}"><h3>{{ goods.name }}</h3></a>
            <p style="text-align: center;">{{ goods.item_name }}</p>
        </div>
    </div>
    </div>
{% empty %}
<h1>nothing in here now</h1>
{% endfor %}
</div>
</div>

<div class="paginator">
    <ul class="pagination">
        {# last-page #}
        <li>
            {% if page_of_goods.has_previous %}
                <a href="?page={{ page_of_goods.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# all-page #}
        {% for page_num in page_range %}
            {% if page_num == page_of_goods.number %}
                <li class="active"><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {# next-page #}
        <li>
            {% if page_of_goods.has_next %}
                <a href="?page={{ page_of_goods.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
    <p>
        have  {{ page_of_goods.paginator.count }}  goods，
        now in page   {{ page_of_goods.number }}， have  {{ page_of_goods.paginator.num_pages }}  page
    </p>
</div>
{% endblock %}