{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
<link rel="stylesheet" href="{% static 'goods/goods_list.css' %}">
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
{% for goods,img in detail_goodss.items %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
      <a href="{% url 'goods_detail' goods.pk %}"><img src="{{ img.url }}" height="220" width="220"></a>
        <div class="caption">
            <a href="{% url 'goods_detail' goods.pk %}"><h3>{{ goods.name }}</h3></a>
        </div>
    </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}