body {
    padding-top: 62px;
    padding-bottom: 70px;
}

.navbar-fixed-top{
    height: 60px;
}

.header-title{
    font-size: 150%;
}

.navbar-text {
    font-size: x-large;
    /*position: relative;相对定位*/
}

