div.carousel-inner img{
    width: 100%;
    height: 100%;
}

div.thumbnail {
    width: 256px;
    height: 256px;
}

div.panel-default{
    margin-top: 50%;
    width: 200px;
}

div.panel-heading {
    font-size: xx-large;
}

h1{
    text-align: center;
}

