{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fashion In China</title>
    {% block static %}{% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}"><p class="header-title">Fashion In China</p></a>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
        <p class="navbar-text">email : fashioninchina168@gmail.com</p>
    </div>
</nav>
{% block script_extends %}
{% endblock %}

</body>
</html>