{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'theme.css' %}">
{% endblock %}

{% block content %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="{% url 'goods_list' theme_img1.goods_type_id %}"><img src="{{ theme_img1.theme_img.url }}" data-holder-rendered="true"></a>
          </div>
          <div class="item">
            <a href="{% url 'goods_list' theme_img2.goods_type_id %}"><img src="{{ theme_img2.theme_img.url }}" data-holder-rendered="true"></a>
          </div>
          <div class="item">
              <a href="{% url 'goods_list' theme_img3.goods_type_id %}"><img src="{{ theme_img3.theme_img.url }}" data-holder-rendered="true"></a>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-pull-1">
                
                <div class="content_left">
                    <div class="title"><span>CATEGORIES</span></div>
                        <div class="left_nav">  
                            <ul>
                            {% for goods_type,goods_type_detail_names in goods_detail_type.items %}
                            <li>
                            <div class="t"><i></i><a href="{% url 'goods_list' goods_type.pk %}">{{ goods_type.type_name }}</a></div>
                              <div class="txt">
                              {% for goods_type_detail_name in goods_type_detail_names %}
                              <p><a href="{% url 'goods_list' goods_type_detail_name.pk %}">
                              {{ goods_type_detail_name.detail_name }}</a></p>
                              {% endfor %}
                              </div>
                            </li>
                            {% endfor %}
                            </ul> 
                          <div class="more"><span>pull</span></div>
                      </div>
                  </div>


            </div>
            <div class="col-xs-12 col-sm-offset-0 col-md-10 col-lg-10">



                <h1>TOP 30 ITEMS</h1>
                <div class="row">
                    {% for goods,img in goodss.items %}
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <div class="thumbnail">
                          <a href="{% url 'goods_detail' goods.pk %}"><img src="{{ img.url }}" alt="no picture" style="max-height: 255px"></a>
                            <div class="caption">
                                <a href="{% url 'goods_detail' goods.pk %}"><h3 class="goods-name">{{ goods.name }}</h3></a>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>




            </div>
        </div>
</div>
{% endblock %}

{% block script_extends %}

<script charset="utf-8" type="text/javascript" src="{% static 'theme.js' %}"></script>
{% endblock %}
